<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>EnrutadosEIA usa tu ubicación para sugerir puntos de partida cercanos y mostrar la posición del conductor durante un viaje en curso.</string>
</dict>
</plist>
